---
interface Props {
  slug: string;
  date: string;
  titleEn: string;
  titleZh: string;
  previewEn: string;
  previewZh: string;
}

const { slug, date, titleEn, titleZh, previewEn, previewZh } = Astro.props;
---

<a href={`/posts/${slug}/`} class="card">
  <div class="card-title" data-en={titleEn} data-zh={titleZh}>{titleEn}</div>
  <span class="card-date">{date}</span>
  <div class="card-preview" data-en={previewEn} data-zh={previewZh}>{previewEn}</div>
</a>
